<footer class="footer">
    <div class="footer-content">
        <p>A.Y. 2024–2025 CCAPDEV - S15 MC0 <strong>Group 6</strong> <span class="group-icon">😋</span>| Not all information reflect real people or establishments</p>
        <a href="/about-us">About Us</a></p>
    </div>
</footer>