<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/common/Review Page Style.css">
  <link href="/common/footer style.css" rel="stylesheet" />
  <script type="text/javascript" src="/common/headerfunc.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/common/register1func.js"></script>

</head>

<body>
  {{{body}}}
  <script src="/common/Review Page Script.js"></script>
</body>

</html>