<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/footer style.css" rel="stylesheet" />
    <link href="/common/User_Profile_Style.css" rel="stylesheet" />
  </head>
  <body>
{{{body}}}
  </body>
</html>
