<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/Register_Owner_Style.css" rel="stylesheet" />
    <link href="/common/footer style.css" rel="stylesheet" />
    <script type="text/javascript" src="/common/register1func.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>
