<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="/common/User_Profile_Style.css" rel="stylesheet" />
  <link href="/common/footer style.css" rel="stylesheet" />
  <link href="/common/homestyle.css" rel="stylesheet" />

</head>

<body>
  {{{body}}}
  <script src="/common/Review Page Script.js"></script>
</body>

</html>