<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/common/footer style.css" rel="stylesheet" />
    <link href="/common/homestyle.css" rel="stylesheet" />
    <script type="text/javascript" src="/common/homefunc.js"></script>
    <script type="text/javascript" src="/common/headerfunc.js"></script>
  </head>
  <body>
{{{body}}}
  </body>
</html>
