{{> header}}
<div class="container">
  <section class="section">
    <h1 style="font-size: 40px;">About Us</h1>
    <p>This website is used for educational purposes only and is a requirement for CCAPDEV</p>
  </section>

  <section class="section">
    <h2>📦 NPM Packages (Installed via npm)</h2>
    <table>
      <tr>
        <th>Package</th>
        <th>Description</th>
        <th>Source Link</th>
      </tr>
      <tr>
        <td><strong>express</strong></td>
        <td>Web framework for Node.js</td>
        <td><a href="https://www.npmjs.com/package/express" target="_blank">Express.js</a></td>
      </tr>
      <tr>
        <td><strong>express-session</strong></td>
        <td>Session management middleware for Express</td>
        <td><a href="https://www.npmjs.com/package/express-session" target="_blank">express-session</a></td>
      </tr>
      <tr>
        <td><strong>mongoose</strong></td>
        <td>ODM for MongoDB in Node.js</td>
        <td><a href="https://www.npmjs.com/package/mongoose" target="_blank">mongoose</a></td>
      </tr>
      <tr>
        <td><strong>body-parser</strong></td>
        <td>Middleware to parse incoming request bodies</td>
        <td><a href="https://www.npmjs.com/package/body-parser" target="_blank">body-parser</a></td>
      </tr>
      <tr>
        <td><strong>express-handlebars</strong></td>
        <td>Handlebars view engine for Express</td>
        <td><a href="https://www.npmjs.com/package/express-handlebars" target="_blank">express-handlebars</a></td>
      </tr>
      <tr>
        <td><strong>handlebars-helpers</strong></td>
        <td>Collection of helper functions for Handlebars templates</td>
        <td><a href="https://www.npmjs.com/package/handlebars-helpers" target="_blank">handlebars-helpers</a></td>
      </tr>
      <tr>
        <td><strong>connect-mongo</strong></td>
        <td>MongoDB session store for Express sessions</td>
        <td><a href="https://www.npmjs.com/package/connect-mongo" target="_blank">connect-mongo</a></td>
      </tr>
      <tr>
        <td><strong>argon2</strong></td>
        <td>Cryptographic hashing library (used for password hashing)</td>
        <td><a href="https://www.npmjs.com/package/argon2" target="_blank">argon2</a></td>
      </tr>
    </table>

    <h2>🌍 External Resources (Non-NPM)</h2>
    <table>
      <tr>
        <th>Resource</th>
        <th>Description</th>
        <th>Source Link</th>
      </tr>
      <tr>
        <td><strong>MongoDB</strong></td>
        <td>NoSQL database used to store application data</td>
        <td><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></td>
      </tr>
      <tr>
        <td><strong>Handlebars.js</strong></td>
        <td>Logic-less templating language used for rendering views</td>
        <td><a href="https://handlebarsjs.com/" target="_blank">Handlebars.js</a></td>
      </tr>
    </table>
  </section>

  <section class="section">
    <h2>📙 Resources Used</h2>
    <p> Establishments are based on real life located near DLSU, information and contact details may or may not be
      entirely accurate.
    </p>
    <table>
      <tr>
        <th>Resource</th>
        <th>Reference</th>
      </tr>
      <tr>
        <td><strong>The Barn</strong></td>
        <td><a href="https://www.facebook.com/barnMNL/" target="_blank">Facebook</a></td>
      </tr>
      <tr>
        <td><strong>La Toca Taqueria</strong></td>
        <td><a href="https://www.facebook.com/p/La-Toca-Taqueria-100094756651906/" target="_blank">Facebook</a></td>
      </tr>
      <tr>
        <td><strong>The Good Munch</strong></td>
        <td><a href="https://www.facebook.com/GoodMunch/" target="_blank">Facebook</a></td>
      </tr>
      <tr>
        <td><strong>Tagpuan Berde</strong></td>
        <td><a href="https://www.facebook.com/TagpuanBerde" target="_blank">Facebook</a></td>
      </tr>
      <tr>
        <td><strong>Piccolino Restaurant</strong></td>
        <td><a href="https://www.facebook.com/profile.php?id=61564313833960" target="_blank">Facebook,</a>
          <a href="https://booky.ph/biz/piccolino-restaurant-one-archer-s-place/about/" target="_blank"> booky</a>
        </td>
      </tr>
      <tr>
        <td><strong>Background Images</strong></td>
        <td><a href="https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg" target="_blank">Background
            Image 1, </a>
          <a href="https://i.ibb.co/fdmhcGvJ/background.png" target="_blank">Background Image 2</a>
        </td>
      </tr>
      <tr>
        <td><strong>Default Profile Images</strong></td>
        <td><a href="https://cdn-icons-png.flaticon.com/512/8847/8847137.png" target="_blank">Profile Icon, </a>
          <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/340px-Default_pfp.svg.png"
            target="_blank">Default User Photo</a>
        </td>
      </tr>
      <tr>
        <td><strong>Search Icon Image</strong></td>
        <td><a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/768px-Magnifying_glass_icon.svg.png"
            target="_blank">Header Search Icon, </a>
        </td>
      </tr>
    </table>

  </section>

  <section class="section">
    <h2>Additional Features</h2>
    <table>
      <tr>
        <th>Feature</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><strong>Search Sort and Filter</strong></td>
        <td> Searching for eestablishments can be filtered depending on the selected rating filter, Results can also be
          sorted alphabetically and by rating both ascending and descending.</td>
      </tr>
      <tr>
        <td><strong>Reviews can be marked as Veified</strong></td>
        <td> Establishment owners can mark reviews on their establishments as Verified, ✅ Verfied is displayed on
          reviews that are marked by the owner. </td>
      </tr>
    </table>
  </section>

  <section class="section">
    <h2>Our Members</h2>
    <div class="members">
      <div class="member-item">
        <img
          src="https://i.ibb.co/9kZT63Zv/434263058-1913405912430212-2899350172872534187-n.jpg"
          alt="Wendel Leander">
        <div>
          <h3>Wendel Leander</h3>
          <p>📧 wendel_leander@dlsu.edu.ph</p>
        </div>
      </div>
      <div class="member-item">
        <img
          src="https://i.ibb.co/MxGr8psj/471984851-9384526881571174-4278353506631183506-n.jpg"
          alt="Larkin Barayang">
        <div>
          <h3>Larkin Barayang</h3>
          <p>📧 larkin_patrick_barayang@dlsu.edu.ph</p>
        </div>
      </div>
    </div>
    <div class="members">
      <div class="member-item">
        <img
          src="https://i.ibb.co/TxPYV3F7/440357226-1623335935150625-5392773876471273052-n.jpg"
          alt="Jorenie Encarguez">
        <div>
          <h3>Jorenie Encarguez</h3>
          <p>📧 jorenie_encarguezii@dlsu.edu.ph</p>
        </div>
      </div>
      <div class="member-item">
        <img
          src="https://i.ibb.co/j9TLW8p3/7acc3e0c-2785-4414-bab0-d73a4d2129e0.jpg"
          alt="Pauline Sena">
        <div>
          <h3>Pauline Sena</h3>
          <p>📧 sophia_sena@dlsu.edu.ph</p>
        </div>
      </div>
    </div>
  </section>

</div>
{{> footer}}