<div class="additional-info-container">
  <h2>Welcome to BiteBuzz, <span id="username-placeholder">Juan</span>!</h2>

  <!-- Form for additional details -->
  <form action="/user/Register_Additional" method="post" >
    <div class="input-fields">
      <label for="photo">Upload Photo:</label>
      <input type="text" id="photo" name="photo" placeholder="Image Link (Optional)">

      <select id="gender" name="gender">
        <option value="Prefer not to say">Prefer not to say</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Non-Ninary">Non-Binary</option>
        <option value="Other">Other</option>
      </select>

      <input type="text" id="country" name="country" placeholder="Country (Optional)">

      <button type="submit">Save & Continue</button>
    </div>
  </form>
</div>
