<div class="login-container">
  <h2>Register</h2>
  <p>Pick a role</p>
  <a href="/user/Register_Reviewer">
    <button id="reviewerBtn">Reviewer</button>
  </a>

  <a href="/user/Register_Owner">
    <button id="ownerBtn">Establishment Owner</button>
  </a>

  <br><br>
</div>
