.footer {
  background-color: #222; /* Darker background */
  color: #ccc; /* Light grey text */
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #56A8F5; /* Yelp-style blue */
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.group-icon {
  color: red;
}
